<section class="footerLocations">
  <nav class="footerLocations__nav" aria-label="Locations Menu">
    <ul class="footerLocations__navList">
      <li class="footerLocations__navItem">
        <a href="/locations/highlands" data-replace="Highlands"><span>Highlands</span></a>
      </li>
      <li class="footerLocations__navItem">
        <a href="/locations/st-matthews" data-replace="St. Matthews"><span>St. Matthews</span></a>
      </li>
      <li class="footerLocations__navItem">
        <a href="/locations/downtown" data-replace="Downtown"><span>Downtown</span></a>
      </li>
      <li class="footerLocations__navItem">
        <a href="/locations/tempe" data-replace="Tempe"><span>Tempe</span></a>
      </li>
      <li class="footerLocations__navItem">
        <a href="/locations/tullahoma" data-replace="Tullahoma"><span>Tullahoma</span></a>
      </li>
    </ul>
  </nav>
</section>