<footer class="footer siteFooter">
    <a class="siteFooter__logo" href="/">
      <img src="{{ '/assets/img/logo.svg' | url }}" alt="Spinellis Pizeria">
    </a>

    <nav class="siteFooter__nav" aria-label="Main Navigation">
      <ul class="siteFooter__list">
        <li><a href="/locations/">Locations</a></li>
        <li><a href="/menu/">Menu</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/media/">Media</a></li>
        <li><a href="https://spinellispizza.bigcartel.com/" target="_blank">Merch</a></li>
        <li><a href="">Order Online</a></li>
      </ul>
    </nav>

    <p class="siteFooter__copyright">&copy;<script type="text/javascript"> document.write(new Date().getFullYear()); </script> Spinellis Pizza. Website design and development by <a href="https://brianmaierjr.com" target="_blank">Brian Maier Jr.</a></p>
</footer>

<script src="{{ '/assets/js/mobile-nav.js' | url }}"></script>
<!-- SWUP 
<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
<script>
  const swup = new Swup();
</script>-->
<!-- AOS -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    easing: 'ease-in-out'
  });
</script>