<header class="siteHeader">
    <a class="siteHeader__mobileOrderBtn btn" href="https://order.spinellispizzeria.com/" target="_blank">
      <span class="btn__icon">
        {% include 'img/icon-pizza.svg' %}
      </span>
      Order Online
    </a>
  <div class="siteHeader__wrapper wrapper">
    <a class="siteHeader__logo" href="/">
      <img src="/assets/img/logo.svg" alt="Spinellis Pizeria">
    </a>
    <button type="button" aria-haspopup="true" aria-expanded="false" aria-controls="mobileNav" id="menuTrigger" class="siteHeader__mobileNavTrigger btn btn--outline">
      <span class="btn__icon">
        {% include 'img/icon-menu.svg' %}
      </span>
      Menu
    </button>
    <nav class="siteHeader__mainNav" aria-label="Main Navigation">
      <ul>
        <li class="siteHeader__mainNavItem">
          <a class="main-nav__link" href="/locations/" data-replace="Locations"><span>Locations</span></a>
        </li>
        <li class="siteHeader__mainNavItem">
          <a class="main-nav__link" href="javascript:;" data-replace="Menu" data-micromodal-trigger="modal-menu"><span>Menu</span></a>
        </li>
        <li class="siteHeader__mainNavItem">
          <a class="main-nav__link" href="/about/" data-replace="About"><span>About</span></a>
        </li>
        <li class="siteHeader__mainNavItem siteHeader__mainNavItem--hasChildren">
          <a class="siteHeader__mainNavLink disabledLink" href="javascript:void(0)" data-replace="More +"><span>More +</span></a>
          <ul class="siteHeader__subNav">
            <li><a href="/media/">Media</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="btnGroup">
      <a class="btn btn--outline" href="https://spinellispizza.bigcartel.com/" target="_blank">
        <span class="btn__icon">
          {% include 'img/icon-shirt.svg' %}
        </span>      
        Shop Merch
      </a>
      <a class="btn" href="https://order.spinellispizzeria.com/" target="_blank">
        <span class="btn__icon">
          {% include 'img/icon-pizza.svg' %}
        </span>      
        Order Online
      </a>
    </div>
  </div>
</header>

<section class="modal micromodal-slide" id="modal-menu" aria-modal="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-menu-title">
      <header class="modal__header">
        <h2 class="modal__title h4" id="modal-menu-title">
          Choose Your State
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-menu-content">
        <ul class="modal-menu__list">
          <li><h3 class="h5"><a href="/"><span class="srOnly">Download </span>Kentucky<span class="srOnly"> Menu</span>{% include 'img/icon-arrow-right.svg' %}</a></h3></li>
          <li><h3 class="h5"><a href="/"><span class="srOnly">Download </span>Arizona<span class="srOnly"> Menu</span>{% include 'img/icon-arrow-right.svg' %}</a></h3></li>
          <li><h3 class="h5"><a href="/"><span class="srOnly">Download </span>Tennessee<span class="srOnly"> Menu</span>{% include 'img/icon-arrow-right.svg' %}</a></h3></li>
        </ul>
      </main>
    </div>
  </div>
</section>
      
{% include 'mobile-nav.html' %}