<article class="locationCard">
  <div class="locationCard__content">
    <h3 class="locationCard__name">{ name }</h3>
    <h4 class="locationCard__cityState h6">{ location }</h4>
    <div class="btnGroup">
      <a class="btn btn--outline" herf="/">Menu</Button>
      <a class="btn" herf="/">Order Online</Button>
    </div>
    <p class="locationCard__hours">{ hours } | <a href={ directionsLink }>Directions</a></p>
    <div class="locationCard__bg">
      <img class="locationCard__bgImg" src={image} alt={imageAlt} />
    </div>
  </div>
</article>