<div class="merch grungeSection grungeSection--dark section">
  <div class="wrapper">
    <div class="merch__text">
      <h2>Dope Pizza. Dope Merch.</h2>
      <p>Shirts, hoodies, sweats, and more. We got you covered. </p>
      <a class="btn" href="/">
        <span class="btn__icon">
          {% include 'img/icon-shirt.svg' %}
        </span>      
        Shop Merch
      </a>
    </div>

    <div class="merch__gallery">
      <img data-aos="fade-up" class="merch__galleryImg" src="/assets/img/merch1.webp" alt="Pizza Over Death Hoodie" loading="lazy" width=366" height="540"/>
      <img data-aos="fade-down" data-aos-delay="500" class="merch__galleryImg" src="/assets/img/merch2.webp" alt="Spinellis Piza Lou. Ky Shirt" loading="lazy" width=366" height="540"/>
      <img data-aos="fade-up" data-aos-delay="1000" class="merch__galleryImg" src="/assets/img/merch3.webp" alt="Spinellis Rat Fink Shirt" loading="lazy" width=366" height="540"/>
      <img data-aos="fade-down" data-aos-delay="1500" class="merch__galleryImg" src="/assets/img/merch4.webp" alt="Spinellis Philly Handstyle Shirt" loading="lazy" width=366" height="540"/>
    </div>
  </div>
</div>
