<div class="merch grungeSection grungeSection--dark">
  <div class="wrapper">
    <div class="merch__text">
      <h2 class="h1">Dope Pizza. Dope Merch.</h2>
      <p>Shirts, hoodies, sweats, and more. We got you covered. </p>
      <a class="btn" href="/">
        Shop Merch
      </a>
    </div>

    <div class="merch__gallery">
      <img class="merch__galleryImg" src="/assets/img/merch1.webp" alt="Pizza Over Death Hoodie" loading="lazy"/>
      <img class="merch__galleryImg" src="/assets/img/merch2.webp" alt="Spinellis Piza Lou. Ky Shirt" loading="lazy"/>
      <img class="merch__galleryImg" src="/assets/img/merch3.webp" alt="Spinellis Rat Fink Shirt" loading="lazy"/>
      <img class="merch__galleryImg" src="/assets/img/merch4.webp" alt="Spinellis Philly Handstyle Shirt" loading="lazy"/>
    </div>
  </div>
</div>
