<section class="mobileApp">
  <div class="wrapper">
    <div class="grid-16">
      <div class="mobileApp__phone">
        <img class="mobileApp__phoneImg mobileApp__phoneImg--mobile" src="/assets/img/app-mobile.webp" alt="" loading="lazy" width="378" height="763">
        <img class="mobileApp__phoneImg" src="/assets/img/app.webp" alt="" loading="lazy" width="378" height="763">
      </div>
      <div class="mobileApp__content">
        <h2 class="h1">Order from the App and <span class="color-red">Save 10%</span>*</h2>
        <p>*Save 10% on your first order only. Additional savings can be acquired by using the rewards program after first use.</p>
        <div class="mobileAppButtons">
          <div class="mobileAppButtons__item">
            <img class="mobileAppButtons__qr" src="/assets/img/qr-ios.png" alt="Download the Spinellis App on the iOS App Store" loading="lazy" width="192" height="192">
            <a href="https://apps.apple.com/us/app/spinellis-pizza/id1275006097" target=_blank"><img src="/assets/img/btn-apple-store.webp" alt="Download on the Apple App Store" loading="lazy" width="198" height="66"><span class="srOnly">Download on the Apple App Store</span></a>
          </div>
          <div class="mobileAppButtons__item">
            <img class="mobileAppButtons__qr" src="/assets/img/qr-android.png" alt="Download the Spinellis App on the iOS App Store" loading="lazy" width="192" height="192">
            <a href="https://play.google.com/store/apps/details?id=com.foodtec.spinellispizza&hl=en_US&gl=US" target=_blank"><img src="/assets/img/btn-google-play.webp" alt="Get it on Google Play" loading="lazy" width="229" height="69"><span class="srOnly">Get it on Google Play</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
