<nav
	id="mobileNav"
	class="mobileNav"
	aria-labelledby="menuTrigger"
	tabindex="-1"
>
	<div class="mobileNav__top">
		<a
			class="mobileNav__logo neon"
			href="/"
			aria-label="Spinellis Pizzeria Home Page"
			><img
				src="/assets/img/neon-pizza.webp"
				alt=""
				width="160"
				height="155"
		/></a>
		<button
			id="menuTriggerClose"
			class="mobileNav__close"
			aria-label="Close Menu"
			aria-controls="mobileNav"
		>
			&times;
		</button>
	</div>
	<ul class="mobileNav__menu" role="menu">
		<li role="none"><a role="menuitem" href="/">Home</a></li>
		<li role="none">
			<a id="mobileNav__firstItem" role="menuitem" href="/locations"
				>Locations</a
			>
		</li>
		<li role="none"><a role="menuitem" href="/contact/">Contact</a></li>
		<li role="none"><a role="menuitem" href="/jobs/">Contact</a></li>
		<li role="none">
			<a
				role="menuitem"
				href="https://spinellispizza.bigcartel.com/"
				target="_blank"
				>Merch</a
			>
		</li>
		<li role="none" class="mobileNav__menu--last">
			<button
				role="menuitem"
				data-modal="modal-order"
				class="color-red modalTrigger"
			>
				Order Online
			</button>
		</li>
	</ul>
</nav>
