<section class="mobileApp">
  <div class="wrapper">
    <div class="grid-16">
      <div class="mobileApp__phone">
        <img class="mobileApp__phoneImg" src="/assets/app.webp" alt="">
      </div>
      <div class="mobileApp__content">
        <h2 class="h1">Order from the App and <span class="color-red">Save 10%</span>*</h2>
        <p>*Save 10% on your first order only. Additional savings can be acquired by using the rewards program after first use.</p>
        <div class="btnGroup mobileApp__buttons">
          <a href="/"><img src="/assets/btn-apple-store.webp" alt="Download on the Apple App Store"></a>
          <a href="/"><img src="/assets/btn-google-play.webp" alt="Get it on Google Play"></a>
        </div>
      </div>
    </div>
  </div>
</section>
