<nav class="mobileNav" aria-label="Mobile Navigation">
  <div class="mobileNav__top">
    <a class="mobileNav__logo neon" href="/"><img src="/assets/img/neon-pizza.webp" alt=""></a>
    <button class="mobileNav__close">&times;</button>
  </div>
  <ul class="mobileNav__menu">
    <li><a href="/locations/">Locations</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="/media/">Media</a></li>
    <li><a href="/Merch/">Merch</a></li>
    <li class="mobileNav__menu--last"><a class="color-red" href="https://order.spinellispizzeria.com/" target="_blank">Order Online</a></li>
  </ul>
</nav>