<div class="modal" id="modal-order" aria-hidde="true">
	<div class="modal__overlay">
		<div
			class="modal__container"
			role="dialog"
			aria-modal="true"
			aria-labelledby="my-modal-title">
			<header class="modal__header">
				<h2 class="modal__title h4" id="modal-menu-title">
					Choose Your Location
				</h2>
				<button
					class="modal__close modalTrigger__close"
					aria-label="Close modal"
					data-micromodal-close>
					<span class="srOnly">Close</span>
				</button>
			</header>
			<main class="modal__content" id="modal-menu-content">
				<ul class="modal-menu__list">
					{%- for location in collections.location -%}
					<li>
						<h3 class="h5">
							<a
								href="{{ location.data.orderUrl }}"
								target="_blank"
								>{{ location.data.name }} {% include
								'img/icon-arrow-right.svg' %}</a
							>
						</h3>
					</li>
					{%- endfor -%}
				</ul>
			</main>
		</div>
	</div>
</div>
