<section class="modal micromodal-slide" id="modal-menu" aria-modal="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-menu-title">
      <header class="modal__header">
        <h2 class="modal__title h4" id="modal-menu-title">
          Choose Your State
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close><span class="srOnly">Close</span></button>
      </header>
      <main class="modal__content" id="modal-menu-content">
        <ul class="modal-menu__list">
          <li><h3 class="h5"><a href="/assets/img/menu/Spinellis-Kentucky.pdf"><span class="srOnly">Download </span>Kentucky<span class="srOnly"> Menu</span>{% include 'img/icon-arrow-right.svg' %}</a></h3></li>
          <li><h3 class="h5"><a href="/"><span class="srOnly">Download </span>Arizona<span class="srOnly"> Menu</span>{% include 'img/icon-arrow-right.svg' %}</a></h3></li>
          <li><h3 class="h5"><a href="/"><span class="srOnly">Download </span>Tennessee<span class="srOnly"> Menu</span>{% include 'img/icon-arrow-right.svg' %}</a></h3></li>
        </ul>
      </main>
    </div>
  </div>
</section>