:root{
	background-color: var(--charcoal, black);
	color: var(--white);
	font-family: "Barlow", sans-serif;
	font-size: 100%;
}

::selection {
	background-color: var(--red);
	color: var(--white);
}

::-moz-selection {
	background-color: var(--red);
	color: var(--white);
}

.wrapper {
	max-width: 125rem;
	margin-left: auto;
	margin-right: auto;

	@include min(lg) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	
	@media (min-width: 94rem) {
		padding-left: 0;
		padding-right: 0;
	}
}


.grid-16 {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	gap: 1.25rem;
}

a {
	&:hover,
	&:focus {
		color: var(--red);
	}
}

.hero {
	padding-top: 15rem;

	@media (min-width: 1090px) {
		padding-top: 20rem;
	}
}

.text-wrapper {
	padding: 0 2rem;
}

.neon {
	position: absolute;
	bottom: 0;
	right: 2rem;
	z-index: 3;
	transform: translateY(50%);
	filter: drop-shadow(0 0 .5rem var(--red));
	width: 10rem;
	height: auto;
}