:root{
	background-color: var(--charcoal, black);
	color: var(--white);
	font-family: "Barlow", sans-serif;
	font-size: 100%;
}

::selection {
	background-color: var(--red);
	color: var(--white);
}

::-moz-selection {
	background-color: var(--red);
	color: var(--white);
}

.noScroll {
	overflow: hidden;
}

a {
	&:hover,
	&:focus {
		color: var(--red);
	}
}

.hero {
	padding-top: 15rem;

	@media (min-width: 1090px) {
		padding-top: 20rem;
	}
}

.text-wrapper {
	padding: 0 var(--space-l);
}

// Screen Reader Only Text
.srOnly{
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

// Body Text for full width pages
.bodyText {
	.wrapper {
		* {
			max-width: 44rem;;
			margin-inline: auto;
		}
		
		div,
		video,
		img,
		picture {
			width: 100%;
			max-width: 85rem;
			margin-inline: auto;
			margin-bottom: var(--space-l);
		}
	}

}