@use '../abstracts' as *;

.aboutPage {

  .hero {
    background-image: url(/assets/img/about-bg.webp);
    background-size: cover;
    text-align: center;
    padding-bottom: 13rem;

    @include min(lg) {
      padding-bottom: 30rem;
    }
  }

  .bodyText {
   .wrapper { 
      transform: translateY(-9rem);

      @include min(lg) {
        transform: translateY(-25rem);
      }
    }
  }
}