@use "../abstracts" as *;

.contactPage {
	color: var(--white);

	input[type="submit"] {
		margin-left: auto;
	}

	.contact-us {
		grid-column: 1/-1;
		position: relative;
		z-index: 3;
		padding-bottom: 5em;

		&-locations {
			grid-column: 2 / span 3;
			padding-bottom: 10rem;
		}

		&-location {
			&__name {
				margin-bottom: 0;
				color: var(--red);
				font-size: var(--font-size-3);
			}
		}

		&-form {
			grid-column: 6 / -2;
		}
	}

	.siteFooter {
		&:before {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 4rem;
			display: block;
			background-repeat: no-repeat;
			background-size: 101% auto;
			z-index: -1;
			background-size: 100% 100%;
			bottom: calc(100% - 1px);
			background-image: url(/assets/border-black-top.svg);
			background-position: top;
			z-index: 2;
		}
	}

	@media (min-width: 768px) {
		.contact-us {
			&-location {
				flex: 1;
			}
		}
	}

	@media (min-width: 1090px) {
		.hero {
			&:before {
				width: 20rem;
				height: 20rem;
			}
		}

		.contact-us {
			&:after {
				height: 6rem;
			}
		}
	}

	@media (min-width: 1400px) {
		.contact-us {
			&:after {
				height: 8rem;
			}
		}
	}

	@media (max-width: 1089px) {
		.grid-16 {
			display: flex;
			flex-direction: column-reverse;
		}

		.contact-us {
			display: flex;
			flex-direction: column-reverse;

			&-form {
				margin-bottom: 5rem;
			}

			&-locations {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
			}

			&-location {
				max-width: calc(50% - 1rem);
			}
		}
	}
}
