.jobsPage {
	.hero {
		text-align: center;
		padding-block: 5em;

		h1 {
			margin-bottom: 0.2em;
		}
	}

	.join-us-form {
		grid-column: 1 / -1;

		@media (min-width: 600px) {
			grid-column: 3 / -3;
		}

		@media (min-width: 1000px) {
			grid-column: 4 / -4;
		}
	}

	.jobs {
		padding-bottom: 5em;
	}
}
