.btnGroup {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  gap: var(--space-s);

  .btn {
    margin: 0;
  }

  &--justifyLeft {
    justify-content: flex-start;
  }
}