.btn {
  padding: .5rem 1rem;
  background-color: var(--red);
  border: 2px solid var(--red);
  color: white;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 150px;
  text-align: center;
  display: inline-block;
  transition: .2s all ease-in-out;
  margin-right: 1rem;
  margin-bottom: 1rem;
  letter-spacing: .05em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(.8rem, 1rem, 1.2rem);
  /* min-width: 15rem; */

  &:hover,
  &:focus {
    background-color: var(--red-dark);
    border-color: var(--red-dark);
    color: white;
  }

  &.btn--outline {
    background-color: transparent; 
    border: 2px solid currentColor;

    &:hover,
    &:focus {
      background-color: var(--red-dark);
      border-color: var(--red-dark);
    }
  }
}