@use "../abstracts" as *;

.hero {
	padding-bottom: 10rem;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-block: 3em;
	padding-left: 2rem;
	padding-right: 2rem;

	@include min(md) {
		padding-top: 5em;
		padding-bottom: 8em;
	}

	&--icon {
		position: relative;

		&__bg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			animation: flicker 1s infinite alternate;
			height: 100%;
			width: auto;
			z-index: -1;

			@include min(md) {
				height: 130%;
			}
		}
	}

	&__content {
		position: relative;
		z-index: 2;

		h1 {
			margin-top: 0;
			margin-bottom: 0.2em;
		}

		p {
			max-width: 65ch;
		}
	}
}
