@use '../abstracts' as *;

.locationCard {
  background-color: var(--black);
  color: white;
  padding: var(--space-xl-3xl);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;

  @include min(lg) {
    // padding: 4vw 2vw;

    &:hover {
      .locationCard__bg {
        filter: blur(3px);
        opacity: .6;
      }

      .btnGroup {
        transform: scale(1.2);
      }
    }
  }

  &--fullWidth {
    grid-column: 1 / -1;
  }

  &__name {
    margin-bottom: 0;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--white);
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  &__content {
    transition: var(--transition);
  }

  &__cityState {
    font-size: var(--font-size-3);
    margin-bottom: var(--space-l);
    color: darken(white, 50%);
  }

  &__hours {
    margin-top: 1rem;
  }

  &__hours,
  .btnGroup {
    position: relative;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: var(--transition);
    width: 100%;
    height: 100%;
  }

  &__bgImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .btnGroup {
    transition: var(--transition);
  }
}

@media (min-width: 1090px) {
  article {

    &:hover,
    &:focus {
      .bg {
        filter: blur(3px);
        opacity: .8;
        transform: scale(1.2);
      }
    }
  }
}