@use "../abstracts" as *;

.locations {
	h2 {
		margin-bottom: 0;
	}

	&__list {
		margin-top: var(--space-l-2xl);

		@include min(lg) {
			display: grid !important;
			grid-template-columns: 1fr 1fr;
			gap: var(--space-xl);
		}
	}

	.locationCard {
		margin-bottom: var(--space-l);

		@include min(lg) {
			margin-bottom: 0;
		}

		&:first-child {
			@include min(lg) {
				grid-column: 1 / -1;
			}
		}
	}
}
