.merch {

  &__text {
    max-width: 44rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 4rem;
    width: 100vw;

    @include min(lg) {
      flex-wrap: nowrap;
      width: 100%;
    }

    img {
      position: relative;
      overflow: hidden;
      width: 50vw;
      height: auto;
      object-fit: cover;
      filter: drop-shadow(.5rem .5rem 1rem black);
      box-shadow: .5rem .5rem 1rem black;

      @include min(lg) {
        flex: 1;
      }

      &:first-child {
        z-index: 4;
        transform: translateY(2rem);
      }
      &:nth-child(2) {
        z-index: 3;

        @include min(lg) {
          transform: translateY(-2rem);
        }
      }
      &:nth-child(3) {
        z-index: 2;

        @include min(lg) {
          transform: translateY(4rem);
        }
      }
      &:last-child {
        z-index: 1;
        transform: translateY(-1rem);
      }
    }
  }

}