@use '../abstracts' as *;

.mobileNav {
  background-color: var(--black);
  background-image: url(/assets/img/grunge-white.png);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(4rem);
  transition: .2s all ease-in-out;
  overflow-y: auto;

  @include min(lg) {
    display: none;
  }

  &.active {
    z-index: 99;
    transform:translateY(0);
    opacity: 1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: var(--space-l);
  }

  &__logo {
    img {
      width: 10rem;
      height: auto;
    }
  }

  &__close {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: .125rem solid currentColor;
    font-size: var(--space-l) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }

  &__menu {
    text-align: right;
    list-style-type: none;
    padding-right: var(--space-l);
    font-size: var(--space-xl);
    line-height: 1.2;
    margin: 0;
    padding-bottom: var(--space-l);

    a {
      text-decoration: none;
      font-family: var(--font-condensed);
      text-transform: uppercase;
    }
  }
}