@use "../abstracts" as *;

.siteFooter {
	padding-top: 6rem;
	padding-bottom: var(--space-4xl);
	text-align: center;
	position: relative;
	color: var(--white);
	background-color: var(--charcoal);

	> *:last-child {
		margin-bottom: 0;
	}

	@include min(lg) {
		padding-top: 10rem;
		padding-bottom: var(--space-l);
	}

	&__logos {
		display: flex;

		> img {
			flex: 1;
		}
	}
}

.siteFooter__nav {
	padding-left: var(--space-l);
	padding-right: var(--space-l);
	margin-bottom: var(--space-l);
}

.siteFooter__copyright {
	padding-left: var(--space-l);
	padding-right: var(--space-l);
}

.siteFooter__copyright,
.siteFooter__copyright a {
	color: var(--gray);
}

.siteFooter__logo {
	img {
		width: 14em;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: var(--space-l);
	}
}

.siteFooter__nav {
	ul {
		padding-left: 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	li {
		list-style-type: none;
		padding: var(--space-3xs) var(--space-s);

		a {
			text-decoration: none;
			font-size: var(--font-size-2);
			text-transform: uppercase;

			&:hover,
			&:focus {
				color: var(--white);
				text-decoration: underline;
			}
		}

		.modalTrigger {
			background-color: transparent;
			color: var(--white);
			border: none;
			outline: 0;

			&:hover,
			&:focus {
				color: var(--white);
				text-decoration: underline;
			}
		}
	}
}

.siteFooter__eye {
	max-width: 10rem;
	height: auto;
	fill: white;
}
