@use "../abstracts" as *;

.grid-16 {
	display: grid;
	grid-template-columns: repeat(16, 1fr);

	@include min(md) {
		gap: var(--space-m);
	}
}

// Wrapper
.wrapper {
	width: Min(calc(100% - var(--space-l)), 100rem);
	margin-inline: auto;

	&--fullWidth {
		width: Min(100%, 125rem);
	}

	&--slim {
		width: Min(calc(100% - var(--space-l)), 70rem);
	}
}

// Grid

.grid-videos {
	@include min(md) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--space-l);
	}

	&--item {
		position: relative;
		background-color: var(--charcoal);

		&:before {
			content: "";
			width: 5em;
			height: 5em;
			background-image: url(/assets/img/icon-play-btn.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			transition: 0.2s all ease-in-out;
		}

		&:hover,
		&:focus {
			img {
				opacity: 0.4;
			}
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			transition: 0.2s all ease-in-out;
			margin-bottom: 0 !important;
		}
	}
}

// Section Spacing
.section {
	padding-top: var(--space-l-3xl);
	padding-bottom: var(--space-l-3xl);
}

.text-wrapper {
	padding: 0 var(--space-l);
}

// Body Text for full width pages
.bodyText {
	.bodyText__hero {
		img {
			width: 100%;
			max-width: 85rem !important;
			margin-inline: auto;
			margin-bottom: var(--space-l);
			height: auto;
		}
	}

	.wrapper {
		*:not(.locationGallery):not(.grid-photos):not(.grid-videos):not(
				.bodyText__hero
			) {
			max-width: 44rem;
			margin-inline: auto;
		}

		> {
			div,
			video,
			img,
			picture {
				width: 100%;
				max-width: 85rem;
				margin-inline: auto;
				margin-bottom: var(--space-l);
			}
		}
	}
}
