---
layout: 'default.liquid'
title: Spinellis Pizzeria
---

<section class="hero hero--home">
  <div class="hero__wrapper">
    <div class="hero__text">
      <h1><span>PIZZA. WINGS. SANDWICHES. FRIED OREOS. ALL YOUR LATE NIGHT CRAVINGS.</span></h1>
      <a class="button" href="order">
        Order Online
      </a>
    </div>
    <div class="hero-video">
      <video autoplay loop>
        <source src="/assets/pizza.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <img class="neon" src="/assets/neon-pizza.webp" alt="">
</section>

{% include 'locations.html' %}

{% include 'mobile-app.html' %}

{% include 'merch.html' %}

{% include 'footer-locations.html' %}




