---
layout: 'default.liquid'
title: Spinellis Pizzeria
---

<section class="hero hero--home">
  <div class="hero__wrapper grid-16 wrapper wrapper--fullWidth">
    <div class="hero__text">
      <h1>
        <span data-aos="fade-up" data-aos-delay="500" data-aos-anchor="#main">PIZZA. WINGS.</span><br/>
        <span data-aos="fade-up" data-aos-delay="1000" data-aos-anchor="#main">SANDWICHES. FRIED OREOS.</span><br/>
        <span data-aos="fade-up" data-aos-delay="1500" data-aos-anchor="#main">ALL OF YOUR</span><br/>
        <span data-aos="fade-up" data-aos-delay="2000" data-aos-anchor="#main">LATE NIGHT CRAVINGS.</span>
      </h1>
      <a class="btn" href="/order" data-aos="fade-up" data-aos-delay="2500" data-aos-anchor="#main">
        <span class="btn__icon">
          {% include 'img/icon-pizza.svg' %}
        </span>      
        Order Online
      </a>
    </div>
    <div class="hero__video">
      <video autoplay loop muted playsinline poster="/assets/img/video-thumb.jpg">
        <source src="/assets/img/spinellis-instagram-V2.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      </div>
      <img class="neon" src="/assets/img/neon-pizza.webp" alt="" loading="lazy">
  </div>
</section>

{% include 'locations.html' %}
{% include 'mobile-app.html' %}
{% include 'merch.html' %}
{% include 'footer-locations.html' %}

<script src="/assets/js/splide.min.js"></script>
<script>
  new Splide( '.splide', {
    perPage: 1,
    destroy: true,
    arrows: false,
    pagination: false,
    breakpoints: {
      1090: {
        arrows: true,
        destroy: false,
      },
    }
  }).mount();
</script>


