---
layout: 'default.liquid'
title: Spinellis Pizzeria
bodyClass: 'locationsPage'
---

<div class="hero hero--locations grungeBg--dark">
  <div class="wrapper">
    <div class="hero__content">
      <h1>Locations</h1>
      <p>Serving 3 states, including Kentucky, Tennesee, and Arizona. Select your location below to learn more.</p>
      <svg class="hero--locations__bg" width="100%" height="100%">
        <rect width="100%" height="100%" />
      </svg>
    </div>
  </div>
</div>

<section class="locations grungeSection">
  <div class="wrapper">
    <div class="locations__list">
      {%- for location in collections.location -%}
      <article class="locationCard">
        <div class="locationCard__content">
          <h2 class="h3 locationCard__name"><a href="{{ location.url }}">{{ location.data.name }}</a></h2>
          <h3 class="locationCard__cityState">{{ location.data.cityState }}</h3>
          {% if location.data.menuUrl or location.data.orderUrl %}
            <div class="btnGroup">
              {% if location.data.menuUrl %}
              <a class="btn btn--outline" href="{{ location.data.menuUrl }}" target="_blank">Menu<span class="srOnly"> for {{ location.data.name }}</span></a>
              {% endif %}
              {% if location.data.orderUrl %}
              <a class="btn" href="{{ location.data.orderUrl }}" target="_blank">Order Online<span class="srOnly"> from{{ location.data.name }}</span></a>
              {% endif %}
            </div>
          {% endif %}  
          {% if location.data.directionsUrl %}
          <p class="locationCard__hours"><a href="{{ location.data.directionsUrl }}" target="_blank">Get Directions<span class="srOnly"> to the {{ location.data.name }} Spinellis</span></a></p>
          {% endif %}
          <div class="locationCard__bg">
            <img class="locationCard__bgImg" src="/assets/img/{{ location.data.image }}.webp" alt="{{ location.data.name }}" loading="lazy"/>
          </div>
        </div>
      </article>
      {%- endfor -%}        
    </div>
  </div>
</section>